.fcc-btn {

    color: white;
    padding: 15px 25px;
    text-decoration: none;
  }
  
.fcc-btn {
  
  color: rgb(0, 133, 59);
  padding: 15px 25px;
  text-decoration: none;
}


 .fcc-btn{
  box-sizing: border-box;
  color: rgb(0, 128, 0);
  text-decoration: none;
  text-decoration-style: solid;
  padding: 20%;
 }


.fcc-btn{
    text-decoration: none;
    color: rgb(0, 128, 0);
    display: inline;
    padding: 10px;
 
}

.links-btn{
    margin-top: 12px;
    margin-bottom: -150px;
}



/* INPUTS FORM */
/* 



.mb-3 input{
  width: 720px;
  position: relative;
 
} 


.row input{
  width: 350px;
  position: relative;
  
  
}  */








.fcc-btn:hover{

color: #FFBD00;

}






/* 

.container-0{
  background-color: red;
}
.container-1{
  background-color: rgb(58, 33, 83);
}

.area-formulario{
  background-color: blue;
}
.formulario{
  background-color: rgb(201, 201, 201);
}
.btn-container{
  background-color: yellow;
}
 

 */